development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "8d11c2ff827aa5bbb45c1ece7d52f1592a960321601496a35e5f7a09958af14d"
  signature_expiration: 3600 # one hour
